/* ---- ---- Root ---- ---- */
:root {
  --border: #d2d2d2;
  --dark-background: #131313;
  --sub-title-dark: #000000a5;
  --sub-title-light: #ffffffa5;
}

/* ---- ---- Fonts ---- ---- */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  src: url(/assets/fonts/Outfit.ttf);
}
/* ---- ---- Dark Mode ---- ---- */
.dark .pricing .billing-period .switch .slider {
  background-color: #fff;
}
.dark .pricing .billing-period .switch .slider::before {
  background-color: #000;
}
.dark .pricing .card-container .card .buy {
  color: #000;
  background-color: #fff;
}

/* ---- ---- Features ---- ---- */
.features {
  margin: auto;
  width: 1000px;
  padding: 50px 0;
  text-align: center;
}
.features .section-category {
  font-size: 22px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: rgb(1, 93, 255);
  background: linear-gradient(90deg, rgb(3, 182, 255) 20%, rgb(1, 93, 255) 50%, rgb(2, 142, 255) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .section-title {
  font-size: 48px;
  margin-bottom: 10px;
}
.features .card-container {
  gap: 50px;
  display: flex;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.features .card-container .card {
  width: 300px;
  padding: 28px;
  text-align: start;
  border-radius: 4px;
  border: 1px solid var(--border);
}
.features .card-container .card .card-icon {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
}
.features .card-container .card .card-icon .icon {
  font-size: 26px;
}
.features .card-container .card .card-title {
  font-size: 28px;
  margin-bottom: 10px;
}

/* ---- ---- Pricing ---- ---- */
.pricing {
  margin: auto;
  width: 1000px;
  padding: 50px 0;
  text-align: center;
}
.pricing .section-category {
  font-size: 22px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: rgb(1, 93, 255);
  background: linear-gradient(90deg, rgb(3, 182, 255) 20%, rgb(1, 93, 255) 50%, rgb(2, 142, 255) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pricing .section-title {
  font-size: 48px;
  margin-bottom: 20px;
}
.pricing .billing-period {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.pricing .billing-period span {
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.pricing .billing-period .switch {
  width: 60px;
  height: 34px;
  position: relative;
  display: inline-block;
}
.pricing .billing-period .switch input {
  width: 0;
  height: 0;
  opacity: 0;
}
.pricing .billing-period .switch input:checked + .slider {
  background: rgb(1, 93, 255);
  background: linear-gradient(90deg, rgb(3, 182, 255) 20%, rgb(1, 93, 255) 50%, rgb(2, 142, 255) 70%);
}
.pricing .billing-period .switch input:checked + .slider::before {
  transform: translateX(26px);
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
}
.pricing .billing-period .switch .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.4s;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform;
  background: var(--dark-background);
}
.pricing .billing-period .switch .slider::before {
  left: 4px;
  width: 26px;
  content: "";
  bottom: 4px;
  height: 26px;
  transition: 0.4s;
  position: absolute;
  -webkit-transition: 0.4s;
  background-color: #fff;
}
.pricing .billing-period .switch .slider.round {
  border-radius: 34px;
}
.pricing .billing-period .switch .slider.round::before {
  border-radius: 50%;
}
.pricing .card-container {
  gap: 25px;
  display: flex;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing .card-container .card {
  width: 300px;
  text-align: start;
  padding: 48px 32px;
  border: 1px solid var(--border);
}
.pricing .card-container .card .card-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.pricing .card-container .card .card-price {
  font-size: 16px;
  margin-bottom: 30px;
}
.pricing .card-container .card .card-price strong {
  font-size: 18px;
}
.pricing .card-container .card .card-list {
  list-style: none;
  margin-bottom: 50px;
}
.pricing .card-container .card .card-list li {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--border);
}
.pricing .card-container .card .buy {
  width: 100%;
  border: none;
  padding: 16px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  font-family: "Outfit";
  background-color: var(--dark-background);
}
.pricing .extra-info {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/* ---- ---- Media Queries ---- ---- */
@media screen and (max-width: 1100px) {
  .features {
    width: 95%;
  }
  .pricing {
    width: 95%;
  }
}/*# sourceMappingURL=hosting.css.map */